<!DOCTYPE html>
<html>
<head>
    {% load static from staticfiles %}
    <meta charset="UTF-8">
    <title>UB CSE Management</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- bootstrap 3.0.2 -->
    <link href="{% static 'dash/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- font Awesome -->
    <link href="{% static 'dash/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Ionicons -->
    <link href="{% static 'dash/css/ionicons.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Morris chart -->
    <link href="{% static 'dash/css/morris/morris.css' %}" rel="stylesheet" type="text/css"/>
    <!-- jvectormap -->
    <link href="{% static 'dash/css/jvectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css"/>
    <!-- fullCalendar -->
    <link href="{% static 'dash/css/fullcalendar/fullcalendar.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Daterange picker -->
    <link href="{% static 'dash/css/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Theme style -->
    <link href="{% static 'dash/css/AdminLTE.css' %}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</head>
<body class="skin-blue">
<!-- header logo: style can be found in header.less -->
<div class="wrapper">

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ title }}
                <small>{{ small }}</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            {% block content %} {% endblock %}
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->

<!-- add new calendar event modal -->


<!-- jQuery 2.0.2 -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<!-- jQuery UI 1.10.3 -->
<script src="{% static 'dash/js/jquery-ui-1.10.3.min.js' %}" type="text/javascript"></script>
<!-- Bootstrap -->
<script src="{% static 'dash/js/bootstrap.min.js' %}" type="text/javascript"></script>
<!-- Morris.js charts -->
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="{% static 'dash/js/plugins/morris/morris.min.js' %}" type="text/javascript"></script>
<!-- Sparkline -->
<script src="{% static 'dash/js/plugins/sparkline/jquery.sparkline.min.js' %}" type="text/javascript"></script>
<!-- jvectormap -->
<script src="{% static 'dash/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'dash/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"
        type="text/javascript"></script>
<!-- fullCalendar -->
<script src="{% static 'dash/js/plugins/fullcalendar/fullcalendar.min.js' %}" type="text/javascript"></script>
<!-- jQuery Knob Chart -->
<script src="{% static 'dash/js/plugins/jqueryKnob/jquery.knob.js' %}" type="text/javascript"></script>
<!-- daterangepicker -->
<script src="{% static 'dash/js/plugins/daterangepicker/daterangepicker.js' %}" type="text/javascript"></script>
<!-- iCheck -->
<script src="{% static 'dash/js/plugins/iCheck/icheck.min.js' %}" type="text/javascript"></script>

<!-- AdminLTE App -->
<script src="{% static 'dash/js/AdminLTE/app.js' %}" type="text/javascript"></script>
<script src="{% static 'dash/js/AdminLTE/custom.js' %}" type="text/javascript"></script>
{% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message }}")
        {% endfor %}
    </script>
{% endif %}
<script>
    function loading() {
        var div = document.getElementById('responses')
        div.innerHTML = div.innerHTML + "<div class='overlay'></div> <div class='loading-img'></div>"
    }
</script>
</body>
</html>