{% extends 'dashboard/layout.html' %}

{% block content %}


    <!-- top row -->
    <div class="row">
        <div class="col-xs-12 connectedSortable">

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-8 connectedSortable">

            <div class="box box-danger">
                <div class="box-header">
                    <i class="fa fa-cloud"></i>

                    <h3 class="box-title">Submit to an Assignment</h3>

                    <div class="pull-right box-tools">
                        <button class="btn btn-danger btn-sm" data-widget='collapse' data-toggle="tooltip"
                                title="Collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    {% if not request.user.is_authenticated %}
                        <div class="pull-right box-tools"><p class="text">You must be logged in to submit.</p></div>
                    {% endif %}
                </div>
                <!-- /.box-header -->
                <form role="form" id="post-form" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="subject_id" id="subject_id" value="{{ subject.id }}"/>

                    <div class="box-body no-padding">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="box-body">
                                    <div class="form-group col-md-7 col-sm-12">
                                        <label for="submit-username">Email</label>
                                        <input type="text" class="form-control quickclear" required="required"
                                               id="submit-username"
                                               name="submit-username" maxlength="25"
                                               value="{{ request.user.email }}">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12">
                                        <label for="submit-name">Name for Leaderboard</label>
                                        <input type="text" class="form-control quickclear" required="required"
                                               id="submit-name"
                                               name="submit-name" maxlength="25"
                                               value="{{ request.user.username }}">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12">
                                        <label for="submit-password">Your Account Password</label>
                                        <input type="password" class="form-control quickclear" required="required"
                                               id="submit-password" name="submit-password"
                                               placeholder="Password">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="docfile">File input</label>
                                        <input type="file" name="docfile" id="docfile" required="required">

                                        <p class="help-block">The system will only select a ZIP or tar file</p>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="homework">Homework to Submit to</label>
                                        <select class="form-control" id="assignment" required="required"
                                                name="assignment">
                                            {% for assignment in subject.assignments.all %}
                                                <option value="{{ assignment.id }}">{{ assignment.name }}
                                                    - {{ assignment.due_on }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row - inside box -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->

            <!-- Primary box -->
            <div class="box box-solid box-primary" id="responses">
                <div class="box-header">
                    <h3 class="box-title">Submission Response</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-primary btn-sm" id="response" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <p id="response-text">There are no results to show currently.</p>
                </div>
                <!-- /.box-body -->
                <!-- Loading (remove the following to stop the loading)-->

            </div>
            <!-- /.box -->

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-4 connectedSortable">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="pull-right box-tools">
                        {{ latest.name }}
                    </div>
                    <i class="fa fa-trophy"></i>

                    <h3 class="box-title">
                        Leaderboards
                    </h3>
                </div>
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <!-- .table - Uses sparkline charts-->
                        <table class="table table-striped">
                            <tr>
                                <th>Place</th>
                                <th>Codename</th>
                                <th>Grade</th>
                                <th>Efficiency</th>
                            </tr>
                            {% for submission in latest.best_submissions %}
                                <tr>
                                    <td>{{ forloop.counter }}.</td>
                                    <td>
                                        {{ submission.anon_name }}
                                    </td>
                                    <td>{{ submission.grade }}</td>
                                    <td>{{ submission.efficiency }} sec</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <!-- /.table -->
                    </div>
                </div>
                <!-- /.box-body-->
                <div class="box-footer">
                    {% if latest %}
                        <a href="{% url 'dashboard:report' assignment=latest.id %}">
                    {% endif %}
                    <button class="btn btn-warning"><i class="fa fa-bug"></i> Report Bug</button>
                    </a>
                </div>
            </div>
            <!-- /.box -->

        </section>
        <!-- right col -->
    </div><!-- /.row (main row) -->

{% endblock %}
